@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
//========================== Null style ==================================================================================
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html, body { line-height: 1; height: 100%; }
ol, ul { list-style: none; }
a { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
*,
*::before,
*::after {
	box-sizing: border-box;
}
//========================== Null style ===================================================
.main {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;	
	background: #2F2F2F;
	display: flex;
	flex-direction: column;	
	width: 100%;
}
.container {
	max-width: 1440px;
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}
.header {
	margin-bottom: 22px;
}
.header_row {
	display: flex;
}
.header-logo {
	display: flex;
	.logo_1,
	.logo_2 {
		width: 100px;
		height: 100px;
		img {
			display: block;
			max-width: 100%;
		}
	}
}
.header-titel {
	display: flex;
	align-items: center;
	padding: 0 20px;
	img {
		display: block;
		max-width: 100%;
	}
}
.content {
	position: relative;
	.content_row {
		display: flex;
		.content_column {
			min-height: 40px;			
		}
		.column-left {
			width: 70%;
			.content-slider {
				margin-bottom: 20px;
			}
			.slider-element {
				display: flex;
			}
			.element-logo {
				background-image: url(images/logo/Sb_banners_platforma_sronfa-02.jpg);
				background-position: center center;
				background-size: cover;
				width: 100%;
				height: 90px;
			}
			.element-details {
				background-color: #424242;
				width: 100%;
				max-width: 128px;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				position: relative;
				transition: all .1s ease;
				margin-right: 20px;
				span {
					display: block;
					color: #979797;
					font-family: Roboto, sans-serif;
					font-size: 14px;
					font-weight: 400;
					transform: rotate(-90deg);
					margin-right: 4px;
				}
				img {
					position: absolute;
					top: 50%;
					right: 14px;
					transform: translateY(-50%);
				}
				&:hover {
					background-color: #545454;
					span {
						color: rgb(156, 156, 156);
					}
				}
			}
		}
		.column-right {
			width: 40%;
			background-color: #424242;
			position: relative;
			margin-bottom: 20px;				
			padding: 20px;
			max-height: 600px;
			overflow-y: auto;
		}
	}	
}
.content-sponsors {
	border-top: 1px solid #979797;
}
.sponsors-row {
	display: flex;
	
}
.sponsors-column {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}
.sponsors-element {
	padding: 20px;
	transition: all .3s ease;	
	img {
		display: block;
		max-width: 100%;
		height: 30px;
	}
	&:hover {
		cursor: pointer;
		background-color: #424242;
	}
}
.footer {
	position: relative;
	border-top: 1px solid #979797;
	.footer-nav {
		margin-bottom: 20px;
		.nav_row {
			display: flex;
		}
		.nav-logo {
			display: block;
			width: 60px;
			margin-right: 40px;
			flex: 0 0 auto;
			img {
				display: block;
				max-width: 100%;
			}
		}
		.nav-links {
			display: flex;
			align-items: center;
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			text-decoration: none;
			margin-right: 40px;
			white-space: nowrap;
			transition: all .1s ease;			
			&:hover {
				color:#2e80bf;
			}
		}
	}
	.footer-bottom {
		padding: 30px 20px;
		color:rgb(150, 150, 150);
		font-size: 14px;
	}
}

.contact-link {
	display: block;
	padding: 10px;
	background-color:#2e80bf;
	border: 1px solid #2e80bf;
	color:#fff;
	transition: all .3s ease;	
	&:hover {
		background-color: #2F2F2F;
		border: 1px solid #2e80bf;
	}
}
.contact {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 500px;
	padding:30px;	
	span {
		display: block;
		color:#fff;
		margin-bottom: 20px;
		font-size: 20px;
	}
}

@media (max-width: 1024px) {
	.container {
		padding: 0 10px;
	}
	.header-logo {
		display: flex;
		.logo_1,
		.logo_2 {
			width: 60px;
			height: 60px;
			img {
				display: block;
				max-width: 100%;
			}
		}
	}
	.content {
		position: relative;
		.content_row {
			display: flex;
			flex-direction: column;
			.content_column {			
			}
			.column-left {
				width: 100%;
				.content-slider {
					margin-bottom: 20px;
					width: 100%;
				}
				.slider-element {
					display: flex;
				}

				.element-details {
					margin-right: 0;	
				}
				.content-video {
					width: 100%;
					margin-bottom: 20px;
				}


			}
			.column-right {
				width: 100%;
			}
		}
	}
	.sponsors-row {	
		flex-direction: column;
	}
	.sponsors-column {		
		width: 100%;
	}
	.footer {
		position: relative;
		border-top: 1px solid #979797;
		.footer-nav {
			margin-bottom: 20px;
			.nav_row {
				flex-wrap: wrap;
			}
			.nav-logo {
				display: block;
				width: 60px;
				margin-bottom: 10px;
				flex: 0 0 auto;
				img {
					display: block;
					max-width: 100%;
				}
			}
			.nav-links {
				display: flex;
				align-items: center;
				color: #fff;
				font-size: 16px;
				font-weight: 400;
				text-decoration: none;
				margin-right: 40px;
				white-space: nowrap;
				transition: all .1s ease;			
				&:hover {
					color:#2e80bf;
				}
			}
		}
		.footer-bottom {
			padding: 30px 20px;
			color:rgb(150, 150, 150);
			font-size: 14px;
		}
	}
	

 }


/*==========================================promo=======================================*/
.promo {
  margin-bottom: 44px;
	min-height: 540px; 
}
  .promo__wrap {
    display: flex;
    justify-content: space-between;
		flex-wrap: wrap; 
	}

  .promo__item {
    width: 728px;
    height: 90px;
		overflow: hidden; 
	}
    .promo__item img {
			transition: all .3s; 
		}
    .promo__item:hover img {
      transform: scale(1.02);
			transition: all .3s; 
		}
    .promo__item-caption {
			transition: all .3s; 
			color:#222;
		}
      .promo__item-caption small {
        display: block;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
				text-transform: none; 
				color:#222;
			}
  .promo__video {
    height: 490px;
		margin: 0 20px 20px 0;
		position: relative;
		box-sizing: border-box; 
	}
    .promo__video-box {
      position: absolute;
      visibility: hidden;
			opacity: 0;			
      transform: translateY(20px);
      width: 100%;
			height: 100%;			
			transition: all 0s; 
		}
      .promo__video-box.active {
        position: relative;
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
				transition: all .3s; 
			}
    .promo__video iframe {
      width: 100%;
			height: 100%; 
			position: relative;
		
		}
  .promo__right {
    width: 501px;
    padding: 11px 22px 15px;
    background-color: #424242;
    font-size: 24px;
    line-height: 28px;
		color: #FFFFFF; 
	}
    .promo__right-item {
			display: flex;
			justify-content: space-around;
			align-items: center;
      background-color: #ECECEC;
			cursor: pointer;
			overflow-y: auto;
			max-height: 580px;	
			transition: all .3s; 
		}
      .promo__right-item:hover {
				background-color: #f0f0f0; 
			}
        .promo__right-item:hover .promo__item-caption {
          color: #2e80bf;
					transition: all .3s; 
				}
        .promo__right-item:hover .promo__play-bg img {
          transform: scale(1.05);
					transition: all .3s; 
				}
      .promo__right-item + .promo__right-item {
				margin-top: 12px;
				display: flex; 
			}
  .promo__caption {
    text-align: center;
		margin-bottom: 8px;
		color: #fff;
	}
  .promo__box {
		flex: 1 1 auto;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    padding: 12px 17px 12px 19px;
		margin-right: -2px; 
	}
  .promo__play {
    padding: 5px 9px;
		border-left: 1px solid #DBDBDB; 
	}
    .promo__play-box {
			display: flex;
			justify-content: center;
			align-items: center;
      width: 154px;
      height: 77px;
      background-color: #C4C4C4;
      cursor: pointer;
      position: relative;
			z-index: 10; 
		}
			
    .promo__play-img {
			object-fit: contain;
		}
		.yotube__play {
			display: block;
			opacity: .6;
			width: 80px;
			&:hover {
				opacity: 1;
			}
		}
    .promo__play-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      z-index: -1;
			overflow: hidden; 
		}
      .promo__play-bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
				transition: all .3s; 
			}
/*==========================================info=======================================*/
@media (max-width: 580px) {
	.promo__right-item {flex-direction: column;
	}
  .promo__play {
		width: 100%;
	}
	.promo__play-box {
		width: 100%;
		height: 150px;
	}
}
