@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html, body { line-height: 1; height: 100%; }

ol, ul { list-style: none; }

a { text-decoration: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

.main { font-family: Roboto, sans-serif; font-weight: 400; font-style: normal; font-weight: normal; font-size: 16px; line-height: 19px; background: #2F2F2F; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; }

.container { max-width: 1440px; position: relative; margin: 0 auto; padding: 0 20px; }

.header { margin-bottom: 22px; }

.header_row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.header-logo { display: -webkit-box; display: -ms-flexbox; display: flex; }

.header-logo .logo_1, .header-logo .logo_2 { width: 100px; height: 100px; }

.header-logo .logo_1 img, .header-logo .logo_2 img { display: block; max-width: 100%; }

.header-titel { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 20px; }

.header-titel img { display: block; max-width: 100%; }

.content { position: relative; }

.content .content_row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.content .content_row .content_column { min-height: 40px; }

.content .content_row .column-left { width: 70%; }

.content .content_row .column-left .content-slider { margin-bottom: 20px; }

.content .content_row .column-left .slider-element { display: -webkit-box; display: -ms-flexbox; display: flex; }

.content .content_row .column-left .element-logo { background-image: url(images/logo/Sb_banners_platforma_sronfa-02.jpg); background-position: center center; background-size: cover; width: 728px; height: 90px; }

.content .content_row .column-left .element-details { background-color: #424242; width: 100%; max-width: 128px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; -webkit-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; margin-right: 20px; }

.content .content_row .column-left .element-details span { display: block; color: #979797; font-family: Roboto, sans-serif; font-size: 14px; font-weight: 400; -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); margin-right: 4px; }

.content .content_row .column-left .element-details img { position: absolute; top: 50%; right: 14px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.content .content_row .column-left .element-details:hover { background-color: #545454; }

.content .content_row .column-left .element-details:hover span { color: #9c9c9c; }

.content .content_row .column-left .content-video { margin-bottom: 50px; margin-right: 20px; max-width: 856px; }

.content .content_row .column-left .content-video video { width: 100%; }

.content .content_row .column-right { width: 30%; background-color: #424242; position: relative; margin-bottom: 20px; padding: 20px; }

.content .content_row .column-right .column-right-title { padding: 10px 0; color: #fff; font-size: 16px; text-align: center; text-transform: uppercase; }

.content .content_row .column-right .column-right-nav { max-height: 600px; overflow-y: auto; }

.content .content_row .column-right .column-right-nav .nav-element { margin-bottom: 20px; padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; background-color: #fff; color: #222; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }

.content .content_row .column-right .column-right-nav .nav-element .video-info { width: 70%; }

.content .content_row .column-right .column-right-nav .nav-element .video-info .video-title { font-size: 14px; text-transform: uppercase; margin-bottom: 10px; }

.content .content_row .column-right .column-right-nav .nav-element .video-info .autor, .content .content_row .column-right .column-right-nav .nav-element .video-info .position { font-size: 10px; color: #8b8b8b; line-height: 12px; font-style: italic; }

.content .content_row .column-right .column-right-nav .nav-element .preview { width: 30%; border-left: 1px solid #333; padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content .content_row .column-right .column-right-nav .nav-element .preview img { display: block; max-width: 100%; }

.content .content_row .column-right .column-right-nav .nav-element:hover { background-color: #c2c2c2; }

.content-sponsors { border-top: 1px solid #979797; }

.sponsors-row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.sponsors-column.left { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 70%; }

.sponsors-element { padding: 20px; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }

.sponsors-element img { display: block; max-width: 100%; height: 30px; }

.sponsors-element:hover { cursor: pointer; background-color: #424242; }

@media (max-width: 924px) { .container { padding: 0 10px; }
  .content { position: relative; }
  .content .content_row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .content .content_row .column-left { width: 100%; }
  .content .content_row .column-left .content-slider { margin-bottom: 20px; width: 100%; }
  .content .content_row .column-left .slider-element { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .content .content_row .column-left .element-details { margin-right: 0; }
  .content .content_row .column-left .content-video { width: 100%; margin-bottom: 20px; }
  .content .content_row .column-right { width: 100%; }
  .content .sponsors-column.left { width: 100%; } }

.footer { position: relative; border-top: 1px solid #979797; }

.footer .footer-nav { margin-bottom: 20px; }

.footer .footer-nav .nav_row { display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer .footer-nav .nav-logo { display: block; width: 60px; margin-right: 40px; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; }

.footer .footer-nav .nav-logo img { display: block; max-width: 100%; }

.footer .footer-nav .nav-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #fff; font-size: 18px; font-weight: 400; text-decoration: none; margin-right: 40px; white-space: nowrap; -webkit-transition: all .1s ease; -o-transition: all .1s ease; transition: all .1s ease; }

.footer .footer-nav .nav-links:hover { color: #2e80bf; }

.footer .footer-bottom { padding: 30px 0; color: #969696; font-size: 14px; }

.contact-link { display: block; padding: 10px; background-color: #2e80bf; border: 1px solid #2e80bf; color: #fff; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }

.contact-link:hover { background-color: #2F2F2F; border: 1px solid #2e80bf; }

.contact { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 500px; padding: 30px; }

.contact span { display: block; color: #fff; margin-bottom: 20px; font-size: 20px; }
